.flex {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}
/* .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
} */
#drop{
    display: block;
}
@media screen and (min-width:600px) {
    header {
        width:30px;
    }
    .flex{
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    nav li {
        flex: 1 1 0px;
    }
}
@media screen and (min-width:900px) {
    #drop{
        display:none;
    }
    .flex{
        display: flex;
    }
    header {
        width: 98%;
    }
    #current {
        flex: 2 1 0px;
        /* order: -1; */
    }
}