.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
}
.grid > img{
    border: solid black 1px;
    padding: 5px;
    width: 95%;
    height: 95%;
    grid-column: 1 / span 1;
}
.grid > p{
    border: none;
    padding: 5px;
    align-self: center;
    border-radius: 0px;
    grid-column: 2/ span 1;
}