header {
   position: fixed;
   background: #fff;
   border-radius: 5px;
   border: grey solid 3px;
   /* margin-bottom: 20px; */
   padding: 5px;
}

body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
main {
   padding-top: 20px;
}
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 nav li{
    list-style-type: upper-roman;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: #00274C;
    border: black solid 1px;
    margin: 5px;
 }
 nav li a {
   color: #FFCB05;
 }
 #current{
    background-color: #FFCB05;
    border-color: black;
 }
 #current a {
   color: #00274C;
 }

p{
     cursor: w-resize;
     border-radius: 15px;
     padding: 10px;
     border: black dotted 1px;
     margin: 0px 30px;
     text-align: center;
 }

 .skip{
   position: absolute;
   transition: top .5s ease-in 0s;
   top: -60px;
   border: black solid 1px;
   border-radius: 5px;
   background-color: white;
 }
 
 .skip:focus{
   transition: top .5s ease-in 0s;
   top: 5px;
 }

footer {
   border: black solid 3px;
   background-color: #00274C;
   color: #FFCB05;
}
.fa-envelope {
   color: #FFCB05;
}
.fa-github {
   color: #FFCB05;
}
#copyright {
   float: right;
}

@media screen and (min-width:600px) {
   header {
      padding: 0px;
      width: 98%;
   }
   main {
      padding-top: 60px;
   }
}
@media screen and (min-width:900px) {
   /* main {
      padding-top: 40px;
   } */
}
 
@media screen and (prefers-reduced-motion) {
   .skip {
      transition: none;
   }
   .skip:focus {
      transition: none;
   }
}